<!doctype html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <title>Login Page</title>
</head>


<body>
<img src="/static/images/water.jpg" id="login_img">
<div id="user_login_page">

    <form>
        <table>

            <tr>
                <td colspan=2
                    style="background: rgb(68,68,68); text-align:center; font-size:5vh; height: 12vh; color: white;">
                    Sensco Smart Irrigation Login Page
                </td>
            </tr>

            <tr>
                <td style="padding-left: 10px; padding-top: 5vh;">Username:</td>
                <td style="padding-top: 5vh;"><input type="text" size=25vh name="userid"></td>
            </tr>

            <tr>
                <td style="padding-left: 10px;">Password:</td>
                <td><input type="Password" size=25vh name="pwd"></td>
            </tr>

            <tr>
                <td>&nbsp</td>
                <td style="float:right; padding-right: 3vh; padding-top: 6vh;"><input type="submit" onclick="check(this.form)" value="Login"></td>
            </tr>

        </table>
    </form>
</div>

<script language="javascript">
    function check(form) {

        if (form.userid.value == "admin" && form.pwd.value == "admin") {
            window.open("/static/templates/sensco_splash.html")
        }
        else {
            alert("Error: Password or Username incorrect")
        }
    }
</script>

</body>
</html>